html {
  box-sizing: border-box;
  background: #a8acbd;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.header {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.container {
  min-height: 100%;
  align-content: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #a066e3;
  width: 80%;
  left: -10%;
  position: inherit;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  flex-direction: row;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 35%,#5274ff 65%);
  margin: 1em 0;
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) translateY(3px);
  background: linear-gradient(to top,  #49f2e1 35%,#ffffff 65%);
  margin: 1em 0;
  
}

.hl {
  background: #a066e3;
}
